{% extends "base.html" %}
{% block content %}
    <head>
        <link rel="stylesheet" type= "text/css" href="../static/login.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </head>

    <body>

        <div id="logreg-forms">
            <form class="form-signin" method="POST">
                {{ form.csrf_token }}
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in </h1>
                {{ form.email(placeholder="Email") }}<br>
                {{ form.password(class="form-control",placeholder="Password") }}<br>
                {{ form.submit(placeholder="Sign in") }}
                <a href="mailto:10539269@mydbs.ie" id="forgot_pswd">Forgot password?</a>
                <p> Send us a mail and we will reset it for you.</p>
            <hr>

                <button href="{{ url_for('users.register',filename ='/register') }}" class="btn btn-primary btn-block" type="button" id="btn-signup">
                    <i class="fas fa-user-plus"></i> Sign up New Account</button>
            </form>
            <a href="{{url_for('core.index') }}" id="cancel_signup"><i class="fa fa-angle-left"></i> Back</a>


    </div>
    </body>
{% endblock %}
